.works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.workImage {
  display: flex;
  width: 25%;
  height: auto;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.workImage img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  transition: 0.3s;
}
