* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  gap: 20px;
}
body {
  background-color: #683f3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.knowledge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  flex-wrap: nowrap;
  align-items: flex-start;
}
