div .Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: auto;
}
p {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
